section.brand
   .brand__container
      .brand-menu
         p Бренд
         img(src="img/vector.svg", alt="vector")
      .brand-search
         input(type="text" placeholder='Я ищу...')
      .brand-list
         ul.overflow 
            li Бренд 1 
               span 22
            li Бренд 2 
               span 22
            li Бренд 3  
               span 22
            li Бренд 4  
               span 22
            li Бренд 5 
               span 22
            li Бренд 6 
               span 22
            li Бренд 7  
               span 22
            li Бренд 8  
               span 22