main.goods-grid
  .item
    .info 
      span.new Новинка 
      span.popular Хит 
    span.action Акция 
    img(src="img/image1.png", alt="image")
    .item-text 
      h3 Котел газ.нап. BAXI POWER HT 1.1200 (WHS43112060-)
      .goods-describe
        ul.goods-list 
          li Внутренний диаметр, мм 
            span 22
          li Наружный диаметр, мм 
            span 29,2
          li Ширина, мм 
            span 3.2
      .goods-price
        p 351 375,25₽
        span.sale 450 875₽
    .goods-order
      .goods-order-amount
        span.minus
        p 1
        span.plus
      button.btn(type="button") В корзину   
    button(type="button").buy Купить в один клик
  .item
    .info 
      span.unavailable Нет в наличии 
      span.popular Хит 
    img(src="img/image2.png", alt="image")
    .item-text 
      h3 Котел газ.нап. BAXI POWER HT 1.1200 (WHS43112060-)
      .goods-describe
        ul.goods-list 
          li Внутренний диаметр, мм 
            span 22
          li Наружный диаметр, мм 
            span 29,2
          li Ширина, мм 
            span 3.2
      .goods-price
        p(style={color: 'grey'}) 351 375,25₽
    .goods-order
      button.analog(type="button") Подобрать аналог
  .item
    .info 
      span.new Новинка 
      span.popular Хит 
    span.action Акция 
    img(src="img/image3.png", alt="image")
    .item-text 
      h3 Котел газ.нап. BAXI POWER HT 1.1200 (WHS43112060-)
      .goods-describe
        ul.goods-list 
          li Внутренний диаметр, мм 
            span 22
          li Наружный диаметр, мм 
            span 29,2
          li Ширина, мм 
            span 3.2
      .goods-price
        p 351 375,25₽
    .goods-order
      .goods-order-amount
        span.minus
        p 1
        span.plus
      button.btn(type="button") В корзину
    button(type="button").buy Купить в один клик
  .item
    .info 
      span.popular Хит 
    span.action Акция 
    img(src="img/image1.png", alt="image")
    .item-text 
      h3 Котел газ.нап. BAXI POWER HT 1.1200 (WHS43112060-)
      .goods-describe
        ul.goods-list 
          li Внутренний диаметр, мм 
            span 22
          li Наружный диаметр, мм 
            span 29,2
          li Ширина, мм 
            span 3.2
      .goods-price
        p 351 375,25₽
    .goods-order
      .goods-order-amount
        span.minus
        p 1
        span.plus
      button.btn(type="button") В корзину
    button(type="button").buy Купить в один клик
  .item
    .info 
      span.new Новинка 
      span.popular Хит 
    span.action Акция 
    img(src="img/image3.png", alt="image")
    .item-text 
      h3 Котел газ.нап. BAXI POWER HT 1.1200 (WHS43112060-)
      .goods-describe
        ul.goods-list 
          li Внутренний диаметр, мм 
            span 22
          li Наружный диаметр, мм 
            span 29,2
          li Ширина, мм 
            span 3.2
      .goods-price
        p 351 375,25₽
        span.sale 450 875₽
    .goods-order
      .goods-order-amount
        span.minus
        p 1
        span.plus
      button.btn(type="button") В корзину
    button(type="button").buy Купить в один клик
  .item
    .info 
      span.new Новинка 
      span.popular Хит 
    img(src="img/image5.png", alt="image")
    .item-text 
      h3 Гидроцилиндр 4081-4614010 накл
      .goods-describe
        ul.goods-list 
          li Внутренний диаметр, мм 
            span 22
          li Наружный диаметр, мм 
            span 29,2
          li Ширина, мм 
            span 3.2
      .goods-price
        p 351 375,25₽
        span.sale 450 875₽
    .goods-order
      .goods-order-amount
        span.minus
        p 1
        span.plus
      button.btn(type="button") В корзину
    button(type="button").buy Купить в один клик
  .item
    .info 
    span.action Акция 
    img(src="img/image4.png", alt="image")
    .item-text 
      h3 Котел газ.нап. BAXI POWER HT 1.1200 (WHS43112060-)
      .goods-describe
        ul.goods-list 
          li Внутренний диаметр, мм 
            span 22
          li Наружный диаметр, мм 
            span 29,2
          li Ширина, мм 
            span 3.2
      .goods-price
        p 351 375,25₽
    .goods-order
      .goods-order-amount
        span.minus
        p 1
        span.plus
      button.btn(type="button") В корзину
    button(type="button").buy Купить в один клик
  .item
    .info 
      span.new Новинка 
      span.discount -5% 
    img(src="img/image1.png", alt="image")
    .item-text 
      h3 Котел газ.нап. BAXI POWER HT 1.1200 (WHS43112060-)
      .goods-describe
        ul.goods-list 
          li Внутренний диаметр, мм 
            span 22
          li Наружный диаметр, мм 
            span 29,2
          li Ширина, мм 
            span 3.2
      .goods-price
        p 351 375,25₽
        span.sale 450 875₽
    .goods-order
      .goods-order-amount
        span.minus
        p 1
        span.plus
      button.btn(type="button") В корзину
    button(type="button").buy Купить в один клик
  .item
    .info 
      span.new Новинка 
    img(src="img/image1.png", alt="image")
    .item-text 
      h3 Котел газ.нап. BAXI POWER HT 1.1200 (WHS43112060-)
      .goods-describe
        ul.goods-list 
          li Внутренний диаметр, мм 
            span 22
          li Наружный диаметр, мм 
            span 29,2
          li Ширина, мм 
            span 3.2
      .goods-price
        p 351 375,25₽
        span.sale 450 875₽
    .goods-order
      .goods-order-amount
        span.minus
        p 1
        span.plus
      button.btn(type="button") В корзину
    button(type="button").buy Купить в один клик
  .item
    .info 
      span.popular Хит 
    span.action Акция 
    img(src="img/image6.png", alt="image")
    .item-text 
      h3 Котел газ.нап. BAXI POWER HT 1.1200 (WHS43112060-)
      .goods-describe
        ul.goods-list 
          li Внутренний диаметр, мм 
            span 22
          li Наружный диаметр, мм 
            span 29,2
          li Ширина, мм 
            span 3.2
      .goods-price
        p 351 375,25₽
        span.sale 450 875₽
    .goods-order
      .goods-order-amount
        span.minus
        p 1
        span.plus
      button.btn(type="button") В корзину
    button(type="button").buy Купить в один клик
  .item
    .info 
      span.popular Хит 
    img(src="img/image5.png", alt="image")
    .item-text 
      h3 Котел газ.нап. BAXI POWER HT 1.1200 (WHS43112060-)
      .goods-describe
        ul.goods-list 
          li Внутренний диаметр, мм 
            span 22
          li Наружный диаметр, мм 
            span 29,2
          li Ширина, мм 
            span 3.2
      .goods-price
        p 351 375,25₽
    .goods-order
      .goods-order-amount
        span.minus
        p 1
        span.plus
      button.btn(type="button") В корзину
    button(type="button").buy Купить в один клик
  .item
    .info 
      span.new Новинка 
    span.action Акция 
    img(src="img/image3.png", alt="image")
    .item-text 
      h3 Котел газ.нап. BAXI POWER HT 1.1200 (WHS43112060-)
      .goods-describe
        ul.goods-list 
          li Внутренний диаметр, мм 
            span 22
          li Наружный диаметр, мм 
            span 29,2
          li Ширина, мм 
            span 3.2
      .goods-price
        p 351 375,25₽
    .goods-order
      .goods-order-amount
        span.minus
        p 1
        span.plus
      button.btn(type="button") В корзину
    button(type="button").buy Купить в один клик