section.Outer-diameter
   .filter-main
      .filter-price
            p Внутренний диаметр, мм
            .range
               .range-price
                  .range-price__text
                     span От
                     span До
                  .range-price__value 
                       input(type="number" name='min' value='0')
                       input(type="number" name='max' value='230')
               .range-slider
                  span.range-selected(style={left: '30px'})
               .range-input.input-empty
                  input.min(type='range' min='0' max='2300' value='0' step='10')
                  input.max(type='range' min='0' max='2300' value='230' step='10')
