section.material
   .material__container
      .material-menu
         p Материал
         img(src="img/vector.svg", alt="vector")
      .material-search
         input(type="text" placeholder='Я ищу...')
      .material-list
         ul.overflow 
            li Материал 1 
               span 22
            li Материал 2 
               span 22
            li Материал 3  
               span 22
            li Материал 4  
               span 22
            li Материал 5 
               span 22
            li Материал 6 
               span 22
            li Материал 7  
               span 22
            li Материал 8  
               span 22