section.pagination
   button(type="button").prev &lt;
   button(type="button").page-current  1
   button(type="button").page-numbers 2
   button(type="button").page-numbers 3
   button(type="button").page-numbers ...
   button(type="button").page-numbers 12
   button(type="button").next &gt;