footer.footer 
   .footer__container
      .footer-main  
         include ../section/navigation
         .footer-location
            a.address(href="#") 
               img(src="img/map.svg", alt="map")
               p Подольск, Садовая 20
            .times 
               img(src="img/clock.svg", alt="clock")
               p с 9:00 до 21:00
         .media
            div 
               img(src="img/inst.svg", alt="inst")
            div
               img(src="img/telegram.svg", alt="telegram")
            div
               img(src="img/facebook.svg", alt="facebook")
            div
               img(src="img/inst.svg", alt="inst")
      .footer-copyright
         p Copyright НГПРом 2022
         img(src="img/intrid.svg", alt="intred")